@model List<DataBooking>

@{
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3>Daftar Booking - Laluna Kost</h3>
            </div>
            <form action="Index" method="get">
                <input type="text" name="search" class="form-control" placeholder="Ketik nama / harga...">
                <button type="submit" class="btn-success">Search</button>
            </form>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>No Telepon</th>
                            <th>No KTP</th>
                            <th>Pekerjaan</th>
                            <th>Kamar</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var booking in Model)
                        {
                            <tr>
                                <td>@booking.Name</td>
                                <td>@booking.PhoneNumber</td>
                                <td>@booking.IDCardNumber</td>
                                <td>@booking.Employment</td>
                                <td>@booking.DataKost.Name</td>
                                <td>@booking.Stat.Stat</td>
                                <td>
                                    <a href="/DataBooking/Edit/@booking.Id" class="btn btn-warning">Edit</a>
                                    <a href="/DataBooking/Delete/@booking.Id" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



